.movies {
    &__container{
        margin: 50px 0;
    }
    &__title{
        font-size: 72px;
        margin: 0 0 20px 0;
        text-align: center;
    }
    &__content {
        display: flex;
        overflow-x: auto;
    }
}
.movie {
    display: flex;
}
